donor page
<br><br>
<a href='/'>Home</a><br>
<a href='/api/blockchain/donor/add'>Add Donor (hardcoded)</a><br><br>
<a href='/api/blockchain/donor/details'>Donor details (hardcoded)</a><br><br>
<a href='/api/blockchain/donor/list'>List Donors (hardcoded)</a><br><br>
<a href='/api/blockchain/donor/mine'>Manually mine donor block (hardcoded)</a><br><br>
<br><br>
<a href='/api/blockchain/donor/addDonation'>Add Donor donation (hardcoded)</a><br><br>
<a href='/api/blockchain/donor/mineDonations'>Mine donation (hardcoded)</a><br><br>

